/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.nav > li > a {
    padding: 10px 13px !important;
}

#special{
	padding: 20px 10px;
	margin-bottom: 50px;
}

#special a{
	color: #fff !important;
	margin: 10px !important;
}

p.signout-result{
	font-size: 18px;
	margin: 20px;
	color: green;
	line-height: 30px;
}
